*{
    box-sizing: border-box;
}

.banner{
    display: flex;
    
}

.logo{
    flex: 3;
}

.container{
    display: flex;
    list-style-type: none;
    margin: auto;
    flex: 1;
}


.container >li{
    flex: 1;
    
    
    
}