*{
    box-sizing: border-box;
}

body{
    max-width: 800px;
    margin: auto;
    background-color: lightgray;
}


.banner{
    display: flex;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

.logo{
    flex: 3;
}

.container{
    display: flex;
    list-style-type: none;
    margin: auto;
    flex: 1;
}


.container >li{
    flex: 1;
    
    
    
}