*{
    box-sizing: border-box;
}

header{
    display: flex;
    /* border: 2px solid black; */
    margin: 50px;
    padding: 5px;
    align-items: center;
}

.logo{
    flex: 2;
    padding: 10px;
}

.container{
    display: flex;
    list-style-type: none;
    flex: 1;
    padding: 10px;
    justify-content: space-around;
}

/*
.questionNumber{
    justify-content: space-between;    
}
.score{
    justify-content: space-between;
}
*/

body{
    max-width: 800px;
    margin: auto;
    background-color: lightgray;
}

.quizStart{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    margin: 30px;
}
.quizStart >h1{
    font-size: 50px;
    flex: 1;
}
.startButton{
    padding: 10px;
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
}

fieldset{
    border: none;

}

.questionAnswerForm{
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.questionAnswerForm >legend{
    flex: 1;
    margin: auto;
    padding: 5px;
}
.questionChoices{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
}
.answerOption{
    display: flex;
    background-color: crimson;
    padding-left: 15px;
}
.answerOption >span{
    margin: auto; 
    /* padding: 5px; */
    /* flex: .05    ; */
    /* justify-content: space-around; */
}
label{
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    background-color: crimson;
    /* display: block; */
    flex: 4;
    /* justify-content: space-around; */
}
.submit, .next{
    display: flex;
}
.submit >button, .next >button{
    margin: 10px 5px 10px 5px;
    font-weight: bold;
    flex: 1;
    padding: 15px;
    color: white;
    background-color: royalblue;
    border: 1px solid royalblue;
}



.rightAnswer, .wrongAnswer{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: 30px 30px 50px 30px;
}
.rightAnswer >p {
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.wrongAnswer >p{
    text-align: center;
    font-size: 30px;
    margin: auto;
}

img{
    width: 30%;
    border-radius: 50%;
    margin: auto;
}
.rightAnswer >button{
    flex: 1;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}

.winner, .loser{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    margin-bottom: 50px;
}

.winner >p, .loser >p{
    text-align: center;
    font-size: 50px;
    margin: auto;
}

.winner >button, .loser >button{
    flex: 1;
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
}